

* {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    background-image: url("../images/circles-light.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    
    
  }

  header, h1, ul, li  {
    display: inline-block;
    margin: 0;
    
}
  
  header {
    width: 100%;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #fff;
    border: 1px solid;
    border-color: #ccc;
    margin-bottom: 20px;

  }

/* size the div tag inside of the header tag, so i can get a inline with a block element */
  .sizeme {
      width: 960px;
      margin: 0 auto;
      
  }

  /* float my header tag right */
  .floatmeR {
      float: right;
     
      
  }



/* directly calling class in h1 div */
  .floatmeL {
    float: left;
    
    
    
    
}
/* add effects to my h1 tag inside my header/div tag */
#colorme {
    background-color: #4aaaa5;
    color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    
    
}

/* code for creating bottom border in text */
.border_bottom {
    border-bottom: #777777 1px solid;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    
    
}


h1, h2 {
    color: #4aaaa5;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
}



/* added link information and centered using padding 
*/
li a {
    display: inline-block;
    color: #777777;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    
        
    

}

/* change color to heading color on hover
*/
li a:hover {
    background-color: #4aaaa5;
    color: white;
}


/* image size class for connect with me */
.imgsize {
    
    width: 67px;
    padding-top: 25px;
    padding-bottom: 25px;

    
}

.imageflw {
    float: left;
    margin-top: 0;
    margin-left: 0;
}


#content {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}


#main {
    width: 650px;
    background-color: white;
    float: left;
}

#contact {
    width: 270px;
    background-color: white;
    float: right;
}

footer {
    clear: both;
}