

* {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    background-image: url("../images/circles-light.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    
    
  }
  
  header {
    width: 100%;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #fff;
    border: 1px solid;
    border-color: #ccc;

  }

/* size the div tag inside of the header tag, so i can get a inline with a block element */
  .sizeme {
      width: 960px;
      
  }

  /* float my header tag right */
  .floatmeR {
      float: right;
      
  }



/* directly calling class in h1 div */
  div h1 .floatmeL {
    float: left;
    
    
}
/* add effects to my h1 tag inside my header/div tag */
#colorme {
    background-color: #4aaaa5;
    color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;

    
    
}

  header, h1, ul, li  {
    display: inline-block;
    margin: 0;
    
}


h1, h2 {
    color: #4aaaa5;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 58.8
    
}



/* added link information and centered using padding 
*/
li a {
    display: inline-block;
    color: #777777;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
        
    

}

/* change color to heading color on hover
*/
li a:hover {
    background-color: #4aaaa5;
    color: white;
}

div ul li {
    text-align: center;
}